<%- include('layout/head.ejs'); %>
  <%- include('layout/loginheader.ejs'); %>
    <main>
      <!-- <img src="images/landing.jpeg" class="img-fluid background-image" alt="Landing-page"> -->
    </main>
    <%- include('layout/footer.ejs'); %>
      <script src="bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
      <script src="javascripts/index.js"></script>
      </body>

      </html>